$main-color: #481063;

.progress-bar-container {
  border-bottom: 0.5px solid $main-color;
  width: 90%;
  max-width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.progress-bar-diamond-container {
  position: relative;
  display: flex;
  justify-content: end !important;
  transition: width 0.8s ease-in-out;
  height: 30px;
}

.progress-bar-filler {
  transition: width 0.8s ease-in-out;
  background: $main-color;
  height: 5px;
  position: relative;
  margin-top: -8px;
}

.progress-bar-label {
  color: black;
  font-weight: 400;
  padding: 5;
}

// Shapes & Stuff
#diamond {
  background: $main-color;
  height: 11px;
  transform: rotate(45deg);
  width: 11px;
  margin: 10px -5px 0px 0px;
}

// TODO:
#diamond[animate="true"] {
  // forward animation
}

#diamond[animate="false"] {
  // backwards animation
}

// ANIMATIONS
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(230deg);
  }
}
