.survey-question-mobile {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden !important;

  .survey-question-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    max-width: 80vw;
    color: #481063;
    margin-bottom: 25px;
    text-overflow: ellipsis;
  }

  .button-container-square {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
  }
}
